In [48]:
import pandas as pd
df = pd.read_csv("accountMessage.csv")
# 对 df[‘Age’]中缺失的数值用平均年龄进行填充
df['age'].fillna(df['age'].mean(), inplace=True)
df['age']
# 删除全空的行
df.dropna(how='all', inplace=True)
df.dropna(inplace=True)
# 获取 weight 数据列中单位为 lbs 的数据
rows_with_lbs = df['weight'].str.contains('lbs').fillna(False)

# 将 lbs转换为 kgs, 2.2lbs=1kgs
for i,lbs_row in df[rows_with_lbs].iterrows():
    # 截取从头开始到倒数第三个字符之前，即去掉lbs
    weight = int(float(lbs_row['weight'][:-3])/2.2)
    df.at[i,'weight'] = '{}kgs'.format(weight)
# 切分名字，删除源数据列
df[['first_name', 'last_name']] = df['name'].str.split(expand=True)
df.drop('name', axis=1, inplace=True)
# 删除重复数据行
df.drop_duplicates(['first_name', 'last_name'], inplace=True)
# 删除非 ASCII 字符
df['first_name'].replace({r'[^\x00-\x7F]+':''}, regex=True, inplace=True)
df['last_name'].replace({r'[^\x00-\x7F]':''}, regex=True, inplace=True)
df.index = range(len(df))
df

,Unnamed: 0,no,age,weight,4,5,6,7,8,9,first_name,last_name
0,0,1.0,56.000000,70kgs,72.0,69,71.0,-,-,-,Mickey,Mouse
1,1,2.0,34.000000,70kgs,-,-,-,85,84,76,Donald,Dunck
2,3,4.0,36.333333,78kgs,78,79,72,-,-,-,Scrooge,McDuck
3,5,6.0,52.000000,85kgs,-,-,-,68,75,72,Huey,McDuck
4,6,7.0,19.000000,56kgs,-,-,-,71,78,75,Dewey,McDuck
5,7,8.0,32.000000,78kgs,78.0,76,75.0,-,-,-,Scoopy,Doo
6,10,10.0,12.000000,45kgs,-,-,-,92,95,87,Louie,McDuck

In [42]:
import pandas as pd
"""利用Pandas清洗美食数据"""
# 读取csv文件
df = pd.read_csv('foodinformation.csv')
# 统一为小写字母
df['food'] = df['food'].str.lower()
# 删除数据缺失的记录
df.dropna(inplace=True)
# 负值不合法，取绝对值
df['ounces'] = df['ounces'].apply(lambda a:abs(a))
# 查找food重复的记录，分组求其平均值
d_rows = df[df['food'].duplicated(keep=False)]
g_items = d_rows.groupby('food').mean()
g_items['food'] = g_items.index

# 遍历将重复food的平均值赋值给df
for i,row in g_items.iterrows():
    df.loc[df.food == row.food, 'ounces'] = row.ounces
# 删除重复记录
df.drop_duplicates(inplace=True)
# 重设索引值
df.index = range(len(df))
df

          food  ounces  animal
0        bacon     6.0     pig
1  pulled port     3.0     pig
2     pastrami     4.5     cow
3  corned beef     7.5     cow
4    honey ham     5.0     pig
5     nova lox     6.0  salmon

In [57]:
df = pd.read_csv("foodinformation.csv")
df.index
df
# Data cleaning for lowercase
df['food'] = df['food'].str.lower()
df
# Delet NaN
df = df.dropna()
# reset index
df.index = range(len(df))
df
# Get bacon's mean value and delet second one
df.loc[0,'ounces'] = df[df['food'].isin(['bacon'])].mean()['ounces']
df.drop(df.index[4], inplace=True)
df.index = range(len(df))
df
#Get pastrami's mean value and delet second one
df.loc[2, 'ounces'] = df[df['food'].isin(['pastrami'])].mean()['ounces']
df.drop(df.index[4], inplace=True)
df.index = range(len(df))
df

          food  ounces  animal
0        bacon     6.0     pig
1  pulled port     3.0     pig
2     pastrami     1.5     cow
3  corned beef     7.5     cow
4    honey ham     5.0     pig
5     nova lox     6.0  salmon

In [94]:
import pandas as pd
data_init = pd.read_csv("cloth.csv")
data_init.drop(columns='\t', inplace=True)
data_init.rename(columns={"0":"seq", "1":"name", "2":"age", 
                          "3":"weight", "4":"bust_m", "5":"waist_m",
                          "6":"hip_m", "7":"bust_f", "8":"waist_f",
                          "9":"hip_f"}, inplace=True)

# 完整性
# 删除空行
data_init.dropna(how='all', inplace=True)

# 唯一性
# 一列多个参数切分
data_init[["first_name", "last_name"]] = data_init["name"].str.split(expand=True)
data_init.drop("name", axis=1, inplace=True)
# 删除重复数据
data_init.drop_duplicates(["first_name", "last_name"], inplace=True)
# 全面性
# 列数据单位统一, 体重 WEIGHT 单位统一（lbs 英镑， kg 千克）
rows_with_lbs = data_init["weight"].str.contains("lbs").fillna(False)
# lbs 转为 kg
for i,lbs_row in data_init[rows_with_lbs].iterrows():
    weight = int(float(lbs_row["weight"][:-3])/2.2)
    data_init.at[i, "weight"] = "{}kgs".format(weight)
# 合理性
# 非 ASCII 字符转换，这里删除处理
data_init["first_name"].replace({r'[^\x00-\x7F]+': ''}, regex=True, inplace=True)
data_init["last_name"].replace({r'[^\x00-\x7F]+': ''}, regex=True, inplace=True)
# 完整性
# 补充缺失值-均值补充
data_init['age'].fillna(data_init['age'].mean(), inplace=True)
data_init['age'] = data_init['age'].astype('int')
# 体重先去掉 kgs 的单位符号
# 不带单位符号 kgs
data_init['weight'].replace('kgs$','',regex=True, inplace=True)
data_init['weight'] = data_init['weight'].astype('float')
data_init['weight'].fillna(data_init['weight'].mean(), inplace=True)
# 读取的 csv 数据多了'-'
data_init.replace('-',0,regex=True, inplace=True)
data_init['waist_f'] = data_init['waist_f'].astype('float')
data_init['waist_f'].fillna(data_init['waist_f'].mean(), inplace=True)
data_init['waist_f'] = data_init['waist_f'].astype('int')

data_init.index = range(len(data_init))

data_init

,seq,age,weight,bust_m,waist_m,hip_m,bust_f,waist_f,hip_f,first_name,last_name
0,1.0,56,70.0,72.0,69,71.0,0,0,0,Mickey,Mouse
1,2.0,34,70.0,0,0,0,85,84,76,Donald,Dunck
2,3.0,16,71.5,0,0,0,65,69,72,Mini,Mouse
3,4.0,34,78.0,78,79,72,0,0,0,Scrooge,McDuck
4,5.0,54,90.0,0,0,0,69,50,75,Pink,Panther
5,6.0,52,85.0,0,0,0,68,75,72,Huey,McDuck
6,7.0,19,56.0,0,0,0,71,78,75,Dewey,McDuck
7,8.0,32,78.0,78.0,76,75.0,0,0,0,Scoopy,Doo
8,10.0,12,45.0,0,0,0,92,95,87,Louie,McDuck

,seq,name,age,weight,bust_m,waist_m,hip_m,bust_f,waist_f,hip_f
0,1.0,Mickey Mouse,56.0,70kgs,72.0,69,71.0,-,-,-
1,2.0,Donald Dunck,34.0,154.89lbs,-,-,-,85,84,76
2,3.0,Mini Mouse,16.0,NaN,-,-,-,65,69,72
3,4.0,Scrooge McDuck,NaN,78kgs,78,79,72,-,-,-
4,5.0,Pink Panther,54.0,198.658lbs,-,-,-,69,NaN,75
5,6.0,Huey McDuck,52.0,189lbs,-,-,-,68,75,72
6,7.0,Dewey McDuck,19.0,56kgs,-,-,-,71,78,75
7,8.0,Scoopy Doo,32.0,78kgs,78.0,76,75.0,-,-,-
9,9.0,Huey McDuck,52.0,189lbs,-,-,-,68,75,72
10,10.0,Louie McDuck,12.0,45kgs,-,-,-,92,95,87

KeyError: 'name'